.alert{
    padding: 16px;
    border-radius: 4px;
    margin: 10px 0px;
    color: black;
}


.success{
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.error{
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}